---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%} {{ content }} {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Influences" }}</h2>

    <ul class="post-list">
        {% assign n = site.posts | size %} {% assign posts = site.posts | sample: n %} {%- for post in posts -%} {%- if post.categories contains
        "ready" -%}
        <li>
            <a class="post-link" href="{{ post.url | relative_url }}"> {{ post.title | escape }} </a>

            {% if post %} {% assign tags = post.tags %} {% else %} {% assign tags = page.tags %} {% endif %}
            <span class="post__artist">{{ tags.first }}</span>
        </li>
        {%- endif -%} {%- endfor -%}
    </ul>

    <ul class="post-list">
        {% assign n = site.posts | size %} {% assign posts = site.posts | sample: n %} {%- for post in posts -%} {%- if post.categories contains
        "almost" -%}
        <li>
            <a class="post-link post-link--almost" href="{{ post.url | relative_url }}"> {{ post.title | escape }} </a>

            {% if post %} {% assign tags = post.tags %} {% else %} {% assign tags = page.tags %} {% endif %}
            <span class="post__artist post__artist--almost">{{ tags.first }}</span>
        </li>
        {%- endif -%} {%- endfor -%}
    </ul>

    <ul class="post-list">
        {% assign n = site.posts | size %} {% assign posts = site.posts | sample: n %} {%- for post in posts -%} {%- unless post.categories contains
        "ready" -%} {%- unless post.categories contains "almost" -%}
        <li>
            <!-- {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span> -->

            <a class="post-link post-link--untouched" href="{{ post.url | relative_url }}"> {{ post.title | escape }} </a>

            {% if post %} {% assign tags = post.tags %} {% else %} {% assign tags = page.tags %} {% endif %}
            <span class="post__artist post__artist--untouched">{{ tags.first }}</span>

            <!-- {% for tag in tags %} -->
            <!-- <a href="{{site.baseurl}}/tags/#{{tag|slugize}}">{{tag}}</a> -->
            <!-- {{tag}} -->
            <!-- {% unless forloop.last %}<br/>{% endunless %} -->
            <!-- {% endfor %} -->

            {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
        </li>
        {%- endunless -%} {%- endunless -%} {%- endfor -%}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
    {%- endif -%}
</div>
